/* UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: white;
    color: black;
}

#main {
    height: auto;
    max-width: 100%;
    padding: 0 50px;
    background-color: white;
}

/* NAVBAR */
#nav {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

#nav a {
    cursor: pointer;
    color: black;
}

.navbar {
    display: none;
}

#menu1 {
    font-size: 16px;
    letter-spacing: 2px;
    display: flex;
}

/* #menu1 li:hover{
    border-bottom: 2px solid orange;
} */

#menu1>li {
    margin: 5px 20px;
    letter-spacing: 3px;
    font-weight: 500;
}

#logo>img {
    height: 50px;
}

/* CANVAS */
#canvas {
    margin-top: 50px;
    display: flex;
    background-color: #e7e6e0;
    /* height: 600px; */
    aspect-ratio: 4/2;
}

#canvas>div {
    width: 50%;
    min-width: 400px;
}

#canvas-p1 {
    display: flex;
    align-items: center;
}

#canvas-p1>div {
    margin: auto;
}

#canvas-p1 p {
    margin-bottom: 30px;
}

#canvas-p1 a {
    color: white;
    padding: 10px 25px;
    background-color: black;
}

#canvas-p2 {
    background-image: url(imgs/canvasImg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#canvas p {
    font-size: 18px;
}

#canvas h1 {
    letter-spacing: 1px;
}

/* REVIEW COUNT */
#review-count {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#number {
    font-size: 50px;
    color: #d54e4e;
}

/* REVIEW */

#review {
    margin: 50px 0;
    height: auto;
}

#gallery {
    /* margin: 20px 60px;
    display: flex;
    flex-direction: row; */
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    gap: 80px 30px;
}

.zoom-image {
    max-width: 100%;
    transition: transform 0.5s, opacity 0.5s;
}

.image-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* color: white; */
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: black;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.5s;
}

.image-container:hover .zoom-image {
    transform: scale(1.1);
    opacity: 0.5;
}

.image-container:hover .image-caption {
    opacity: 1;
}

.image-container {
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: inherit;
}

.image-container a {
    display: flex;
    justify-content: center;
}

.image-container img {
    aspect-ratio: 3/4;
    width: 80%;
    margin: 20px 0;
}

#viewAll {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

#viewAll a {
    font-size: 25px;
    color: blue;
    font-weight: 500;
    text-decoration: underline;
}

/* FOOTER */
#footer {
    margin: 55px 10px;
    background-color: #181818;
    height: 275px;
}

#footer-logo {
    height: 66%;
    color: white;
    border-bottom: 1px solid #5050504d;
    align-content: center;
    text-align: center;
}

#footer-dir {
    display: grid;
    margin: 0 10px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 34%;
    color: white;
    justify-content: space-between;
}

#footer-dir div {
    display: flex;
    align-items: center;
    font-size: 12px;
}

#footer-dir ul {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-around;
}

#footer-dir ul a {
    color: white;
}

@media (min-width: 0) and (max-width: 980px) {
    #canvas {
        aspect-ratio: 2/2;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    #canvas>div {
        width: 100%;
        height: 50%;
        min-width: 400px;
    }

    #canvas-p1 h1 {
        font-size: 40px;
    }
}

@media (min-width: 0) and (max-width: 750px) {
    #main {
        padding: 0 30px;
    }

    #canvas {
        aspect-ratio: 2/2.5;
        flex-wrap: wrap;
    }

    #canvas-p1>div {
        /* margin: auto; */
        margin: 20px;
    }

    #gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 0) and (max-width: 600px) {
    #nav {
        display: none;
    }

    .navbar {
        display: block;
    }

    body {
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        color: #333;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    .logo {
        font-size: 24px;
    }

    .menu-button {
        font-size: 24px;
        cursor: pointer;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 50px;
        right: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .dropdown-item {
        display: block;
        padding: 10px 20px;
        color: #333;
        text-decoration: none;
        border-bottom: 1px solid #ddd;
    }

    .dropdown-item:hover {
        background-color: #f1f1f1;
    }

    .show {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    #footer>div>p {
        font-size: 15px;
    }
}


@media (min-width: 0) and (max-width: 550px) {
    #canvas {
        aspect-ratio: 2/4;
        flex-wrap: wrap;
    }

    #canvas>div {
        width: 100%;
        height: auto;
        min-width: 0;
    }

    #canvas-p1 h1 {
        font-size: 35px;
    }

    #canvas-p2 {
        background-size: 80%;
        /* background-size: 80cqmax; */
    }

    #canvas-p1 p {
        margin-bottom: 25px;
    }

    #canvas-p1>div {
        margin: 10px;
    }

    p>br {
        display: block;
    }
}

@media (min-width: 551px) {
    #canvas-p1 p>br {
        display: none;
    }
}

@media (min-width: 0) and (max-width: 880px) {
    #footer-dir {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        /* grid-template-rows: 35px 35px 35px; */
    }

    #footer-logo {
        height: 50%;
    }

    #footer-dir ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #footer-dir ul li {
        margin: 0 auto
    }

    #footer-dir>div:first-child {
        margin: 0 auto;
    }
}

@media (min-width: 0) and (max-width: 400px) {
    #main {
        padding: 0 3vw;
    }
}