/* UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#main {
    height: auto;
    max-width: 100%;
    padding: 0 50px;
}

/* NAVBAR */
#navbar {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

#navbar a {
    cursor: pointer;
    color: black;
}

#menu1 {
    font-size: 16px;
    letter-spacing: 2px;
    display: flex;
}

#menu1>li {
    margin: 5px 20px;
    letter-spacing: 3px;
    font-weight: 500;
}

#logo>img{
    height: 50px;
}

/* CANVAS */
#canvas {
    display: flex;
    background-color: #e7e6e0;
    height: 600px;
}

#canvas>div {
    width: 50%;
}

#canvas-p1 {
    display: flex;
    align-items: center;
}

#canvas-p1>div {
    margin: auto;
}

#canvas-p1 p {
    margin-bottom: 30px;
}

#canvas-p1 a {
    color: white;
    padding: 10px 25px;
    background-color: black;
}

#canvas-p2 {
    background-image: url(imgs/canvasImg.png);
    background-repeat: no-repeat;
}

#canvas p {
    font-size: 18px;
}

#canvas h1 {
    letter-spacing: 1px;
}

/* REVIEW COUNT */
#review-count {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#number {
    font-size: 50px;
    color: #d54e4e;
}

/* REVIEW */

#review {
    margin: 50px 0;
    height: auto;
}

#gallery {
    /* margin: 20px 60px;
    display: flex;
    flex-direction: row; */
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    gap: 80px 30px;
}

.zoom-image {
    max-width: 100%;
    transition: transform 0.5s, opacity 0.5s;
}

.image-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* color: white; */
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: black;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.5s;
}

.image-container:hover .zoom-image {
    transform: scale(1.1);
    opacity: 0.5;
}

.image-container:hover .image-caption {
    opacity: 1;
}

.image-container {
    padding: 15px;
    position: relative;
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* background-color: blue; */
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* border-radius: 5px; */
}

.image-container a {
    display: flex;
    justify-content: center;
}

.image-container img {
    aspect-ratio: 3/4;
    width: 80%;
    margin: 20px 0;
}

/* FOOTER */
#footer {
    margin: 55px 10px;
    background-color: #181818;
    height: 275px;
}

#footer-logo {
    height: 66%;
    color: white;
    border-bottom: 1px solid #5050504d;
    align-content: center;
    text-align: center;
}

#footer-dir {
    display: grid;
    margin: 0 10px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 34%;
    color: white;
    justify-content: space-between;
}

#footer-dir div{
    display: flex;
    align-items: center;
    font-size: 12px;
}

#footer-dir ul{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-around;
}

#footer-dir ul a{
    color: white;
}